<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item to Inventory</title>
</head>
<body>
    <h1>Add item to Inventory</h1>
    <a href="/">
        <button>Home</button>
    </a>
    <form action="/addItem" method="POST">
        <input type="string" name="name" placeholder="name" required>
        <input type="string" name="description" placeholder="description" required>
        <input type="string" name="category" placeholder="category" required>
        <input type="number" name="price" placeholder="price" required>
        <input type="number" name="numInStock" placeholder="numInStock" required>
        <input type="string" name="url" placeholder="item URL">
        <input type="submit">
    </form>
</body>
</html>